<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ca2bikehireapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>ca2bikehireapp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CA2BikeHireApp</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$CA2BikeHireApp</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="8" Enabled="False">
          <Destination Path="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\BikeHireContext-20170317093349.mdf;Initial Catalog=BikeHireContext-20170317093349;Integrated Security=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="BikeHire.Models.ApplicationDbContext, BikeHire" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="BikeHireContext" Order="9" Enabled="True">
          <Destination Path="Data Source=tcp:bikehireserver.database.windows.net,1433;Initial Catalog=BikeHireDatabase;Persist Security Info=False;User ID=Colmserver1;Password=Password1;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:bikehireserver.database.windows.net,1433;Initial Catalog=BikeHireDatabase;Persist Security Info=False;User ID=Colmserver1;Password=Password1;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="BikeHire.Models.BikeHireContext, BikeHire" MigrationConfiguration="BikeHire.Migrations.Configuration, BikeHire" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BikeHireContext-Web.config Connection String">
      <ParameterValue>Server=tcp:bikehireserver.database.windows.net,1433;Initial Catalog=BikeHireDatabase;Persist Security Info=False;User ID=Colmserver1;Password=Password1;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\BikeHireContext-20170317093349.mdf;Initial Catalog=BikeHireContext-20170317093349;Integrated Security=True</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DefaultConnection" />
  </ItemGroup>
</Project>